<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <title>Wood Family Home</title>
    <link rel="stylesheet" href="/site_media/css/master.css" type="text/css" media="screen,projection" />
</head>
<body>
    <div class="container" align="center" >
        <div class="header">Our Family Page</div>	
	<div class="box_right">
	    <p>CHRIS: Hey man what's going on? So this one time b;ah blah blah blah blah vlagh
	    sdfg fdsg sdfg fgfff fsdfgfd.
            </p>
	</div>
        <!--<img src="/site_media/images/pirate-cat.jpeg" alt="cat" name="cat_ex" />-->
        <div class="box_left"><p>Here is a div box2</p></div>
    </div> <!-- end container -->
</body>
</html>
