* css sheet for family page website. I suck at css but am getting better. */

body {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF; /*text*/
    border: thin;
    background: #514CB5;
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #514CB5;
}

.header {
    font-size: xx-large;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-color: #4CB551;
    border-width: medium;
}

.box_left {
    overflow: auto;
    position: relative;
    text-align: left;
    border: 1px solid black;
    height: 400px;
    width: auto;
    margin: 10px;
    padding: 10px 10px 10px 10px;
    background-color: #B5514C;
}

.box_right {
    float: right;
    overflow: auto;
    position: relative;
    text-align: left;
    border: 1px solid black;
    height: 400px;
    width: 50%;
    margin: 10px;
    padding: 10px 10px 10px 10px;
    background-color: #B5514C;
}
  
.error {
    font-size: xx-large;
    color: black;
}